name: "Test Issue Label"
on:
  issues:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: npm install
      - run: npm run build
      - uses: ./
        with:
          keywords: '["label", "test"]'
          labels: '["good first issue", "foo"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
